$primary:rgb(128, 43, 43);
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";
// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
$custom-theme-colors:(
    "altred":#dda0a0,
    "altcardcolor":#c6c2c2,
    "altcardcolor2":#c6c2c2,

    );

$theme-colors: map-merge($custom-theme-colors , $theme-colors );

@import '../node_modules/bootstrap/scss/bootstrap';